<mat-tab-group class="root-tabs">
  <mat-tab>
    <ng-template mat-tab-label>
      Throughput
    </ng-template>
    <Throughput></Throughput>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Bandwidth
    </ng-template>
    <Bandwidth></Bandwidth>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Latency
    </ng-template>
    <Latency></Latency>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      Duration
    </ng-template>
    <Duration></Duration>
  </mat-tab>
</mat-tab-group>
